body{ margin:0; padding:0; }

section{
	width: 100%; 
	height: 500px; 
	background: #e8e8e8;
	overflow:hidden;
}

section.divider-top{
	height: 1px;
	background: #444444;
}

section.divider-bottom{
	height: 2px;
	background: #999999;
}

section.parallax{
	height: 700px; 	
	background:
	linear-gradient(rgba(11, 37, 120, 0.40),rgba(11, 37, 120, 0.40)),url(images/road.jpg);
	background-size: cover; 
	background-position: center; 
	background-attachment: fixed;
}

section.center{
	background:
	linear-gradient(rgba(11, 37, 120, 0.10),rgba(11, 37, 120, 0.10)),url(images/members2.jpg);
	background-size: cover; 
	background-position: center; 
}

section.subPara{
	height: auto;
	margin-top: -80px;
	display: none;
}

section.bottom{
	height: 550px; 	
	background:
	linear-gradient(rgba(11, 37, 120, 0.30),rgba(11, 37, 120, 0.30)),url(images/bottom.jpg);
	background-size: cover; 
	background-position: center; 
	background-attachment: fixed;
}

section.intro{
	height: auto;
}

section.title{
	height: 100px; 	
}

section.subteam{
	height: 400px; 	
}

section.footer{
	height: 30px; 	
	background: #585858;
	text-align: center;
}

.header{
	height: 200px; 	
	width: 90%; 
	margin: 0 auto;
}

.logo{
	height: 75px; 
	width: 200px; 
	float: left; 
	background: url(images/logoShort.png) no-repeat;
	background-position: center; 
}

.logo:hover{
	background: url(images/logoShortO.png) no-repeat;
	background-position: center; 
}

.bar{
	width: 70%; 
	float: right; 
	margin-top: 30px; 
}

.nav{
	width: 110px; 
	float:right; 
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
}

.nav a{
	text-decoration: none;
	color: white;
}

.nav a:hover {
	color: orange;
}

.dropdown{
	width: 120px;
	display: none;
	font-size: 14px; 
	text-align: left;
	position: absolute;
	background-color: rgba(11, 37, 120, 0.30);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 4px, 4px, 4px, 4px; 
}

li.drop:hover .dropdown{
	display: none;
}

a.drop{
	margin-left: 6%; 
}

.jumbotron {
	height: 250px; 	
	background: rgba(180, 180, 180, 0.3);
}

div.members{
	margin-bottom: 100px;
	width: 60%; 
	height: 400px; 
	margin-left: 20%;
	background:
	linear-gradient(rgba(11, 37, 120, 0.10),rgba(11, 37, 120, 0.10)),url(images/members2.jpg);
	background-size: cover; 
	background-position: center; 
}

div.subteams{
	width: 90%; 
	height: 80%;
	margin: 0 auto; 
}

div.subteam{
	width: 18%; 
	height: 100%;
	margin-left: 1%; 
	margin-right: 1%; 
	float: left;
}

div.subteam:hover{
	border-bottom: 4px solid #5656bb; 
	margin-top: -4px ; 
}

div.circular {
		margin: 0 auto;
		margin-top: 20%; 
		width: 180px;
		height: 180px;
		border: 1px solid #767676;
		border-radius: 90px;
		background: url(subteams/1.jpg) no-repeat;
		background-position: center; 
		background-size: cover; 
}

#circle2{
background: url(subteams/2.jpg) no-repeat;
		background-position: center; 
		background-size: cover; 
}

#circle3{
background: url(subteams/3.jpg) no-repeat;
		background-position: center; 
		background-size: cover; 
}

#circle4{
background: url(subteams/4.jpg) no-repeat;
		background-position: center; 
		background-size: cover; 
}

#circle5{
background: url(subteams/5.jpg) no-repeat;
		background-position: center; 
		background-size: cover; 
}

