body {
	background-color: #f9fafa;
	padding: 0;
	margin: 0;
}

#navBar {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 35px;
	text-align: center;
	padding-top: 15px;
	/* Adds shadow to the bottom of the bar */
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
}

#navBar a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

#navBar a:hover {
	color: orange;
}

/* ============================== Navigation Bar ============================== */

#headerInfo h1 {
	margin-top: 120px;
	font-size: 2.5em;
	font-family: 'Play', sans-serif;
	text-align: center;
}

#headerInfo h2 {
	font-size: 1.3em;
	font-family: 'Play', sans-serif;
	text-align: center;
	margin-bottom: 50px;
}

#headerInfo img {
	display: block;
	margin: 0 auto;
	margin-bottom: -50px;
	margin-top: 75px;
}

.contact {
	display: block;
	text-align: center;
	margin-bottom: 50px;
}